@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Unna:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title-font: "Playfair Display", "serif";
  --text-font: "Unna", "Playfair Display", "serif";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.logo:hover {
  transform: scale(1.03);
}

h1,
h2,
h3 {
  font-family: var(--title-font);
}

button,
p,
select {
  font-family: var(--text-font);
}

.page-title {
  transform: rotate(-90deg);
}

.modalCSS {
  z-index: 5;
}

/****************Effect ItemImages********************/

.resultsPage .itemImagesDiv:hover {
  box-shadow: 0px 0px 10px 0px #ffffff;
  transform: rotate(1.5deg) scale(1.04) translate(-10px);
  transition:
    transform 1s,
    box-shadow 1s,
    opacity 1s;
}

/*******************Media Queries*******************/

@media only screen and (max-width: 767px) {
  .logo {
    width: 150px;
    height: 70px;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 200px;
    height: 100px;
  }
}

@media only screen and (min-width: 640px) {
  .page-title {
    transform: rotate(0);
  }
}
